@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'PlusJakartaSans';
  src: local('PlusJakartaSans'), url(./fonts/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'PlusJakartaSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
